---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
import ToolGrid from '../components/ToolGrid.tsx';
import '../styles/global.css';
---

<Layout title="Free Online File Converters">
  <main>
    <Hero client:load />
    <ToolGrid client:load />
  </main>
</Layout>